<i class="far fa-camera-polaroid">
      <%= form.label :image %>
      <%= form.file_field :image, class: "image" %>
      </i>

      
      <!-- 評価 -->

<%= form.hidden_field :tweet_id, value: @tweet.id %>
<div class="col-md-6 col-md-offset-3">

      <div class="field" id="star">
            <%= form.label :star %>
            <%= form.hidden_field :star, id: :review_star %>
      </div>

      
</div>



  <!-- 評価javascript -->
 <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ 'Unica+One::latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script>

  <script >
  $('#star').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    scoreName: 'tweet[star]',
    half: true,
  });
  </script>  

 

      <!-- テキスト -->
      
      <%= form.text_area :text, placeholder: "text" , rows: "10" %>
      <%= form.submit "SEND" %>