<i class="far fa-camera-polaroid">
      <%= form.label :image %>
      <%= form.file_field :image, class: "image" %>
      </i>

      
      <!-- 評価 -->

<%= form.hidden_field :tweet_id, value: @tweet.id %>
<div class="col-md-6 col-md-offset-3">

      <div class="field" id="star">
            <%= form.label :star %>
            <%= form.hidden_field :star, id: :review_star %>
      </div>

      
</div>



  <!-- 評価javascript -->
  <script>
  $('#star').raty({
    size     : 36,
        starOff:  '/assets/star-off-6aaeebdaab93d594c005d366ce0d94fba02e7a07fd03557dbee8482f04a91c22.png',
    starOn : '/assets/star-on-fd26bf0ea0990cfd808f7540f958eed324b86fc609bf56ec2b3a5612cdfde5f5.png',
    starHalf: '/assets/star-half-db15fb9b3561d5c741d8aea9ef4f0957bd9bc51aa1caa6d7a5c316e083c1abd5.png',
    half: true,
  });
  </script>  


      <!-- テキスト -->
      
      <%= form.text_area :text, placeholder: "text" , rows: "10" %>
      <%= form.submit "SEND" %>