   <div class="content_post" style="background-image: url(<%= tweet.image %>);">

      <div class="more">
        <span><%= image_tag 'arrow_top.png', :size=>'25x25' %></span>
        <ul class="more_list">
          <li>
            <%= link_to '詳細', "/tweets/#{tweet.id}", method: :get %>
          </li>
        <% if user_signed_in? && current_user.id == tweet.user_id %>

          <li>
            <%= link_to '編集!', "/tweets/#{tweet.id}/edit", method: :get %>
          </li>
          <li>
            <%= link_to '削除', "/tweets/#{tweet.id}", method: :delete %>
          </li>
        <% end %>
        </ul>
      </div>
      <%= simple_format(tweet.text) %>
      <div class=star>

      
        
        <!--星評価-->
          <div id="star<%= tweet.id %>"><a>Review</a></div>
            
          <script>
          $('#star<%= tweet.id %>').raty({
            size: 36,
            starOff:  '<%= asset_path('/assets/star-off-6aaeebdaab93d594c005d366ce0d94fba02e7a07fd03557dbee8482f04a91c22.png') %>',
            starOn : '<%= asset_path('/assets/star-on-fd26bf0ea0990cfd808f7540f958eed324b86fc609bf56ec2b3a5612cdfde5f5.png') %>',
            starHalf: '<%= asset_path('/assets/star-half-db15fb9b3561d5c741d8aea9ef4f0957bd9bc51aa1caa6d7a5c316e083c1abd5.png') %>',
            half: true,
            readOnly: true,
            score: <%= tweet.star %>,
          });
          </script>  
        <!--/星評価-->






        
      </div>
      <span class="name">
        <a href="/users/<%= tweet.user.id %>">
          <span>wearrist</span><%= tweet.user.nickname %>
        </a>
      </span>


      <%# <%= render%> 
      
    </div>