<div class="contents row">
  <div class="container">
    <%= form_with(model: @tweet, local: true) do |form| %>
      <h3>
        Post
      </h3>
      <%= form.text_field :name, placeholder: "Nickname" %>
      
      <i class="far fa-camera-polaroid">
      <%= form.label :image %>
      <%= form.file_field :image, class: "image" %>
      </i>
      
      <%= form.text_area :text, placeholder: "text" , rows: "10" %>
      <%= form.submit "SEND" %>
    <% end %>
  </div>
</div>