<div class ="contents row">
  <div class="content_post" style="background-image: url(<%= @tweet.image %>);">
    <div class="more">
    <% if  user_signed_in? && current_user.id == @tweet.user_id%>
      <span><%= image_tag 'arrow_top.png' %></span>
      <ul class="more_list">
        <li>
          <%= link_to '編集', "/tweets/#{@tweet.id}/edit", method: :get %>
        </li>
        <li>
          <%= link_to '削除', "/tweets/#{@tweet.id}", method: :delete %>
        </li>
      </ul>
      <%end%>
    </div>
    
  </div>

  




<div class=info>


    
    <span class="name">
    <a href="/users/<%= @tweet.user.id %>">
        <span>投稿者</span><%= @tweet.user.nickname %>
      </a>
    </span>
    



      
      <!--星評価-->
          <div id="star<%= @tweet.id %>"><a>Review</a></div>
            
          <script>
          $('#star<%= @tweet.id %>').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= @tweet.star %>,
          });
          </script>  
          
        <!--/星評価-->
<div class=info_p>
<%= simple_format(@tweet.text) %>
</div>  



<div class=likes>
<h3>いいね: ❤️<%= @tweet.likes.count %></h3>
<% if current_user.already_liked?(@tweet) %>
  <%= button_to 'いいねを取り消す', tweet_like_path(@tweet), method: :delete %>
<% else %>
  <%= button_to 'いいね', tweet_likes_path(@tweet) %>
<% end %>
<h2>いいねしたユーザー</h2>
<% @tweet.liked_users.each do |user| %>
  <li><%= user.nickname %></li>
<% end %>
</div>





    </div>





  <div class="container">
    <% if current_user %>
      <%= form_with(model: [@tweet, @comment], local: true, id: "new_comment") do |form| %> 
      <%= form.text_area :text, placeholder: "コメントする" , rows: "2", class: "textbox" %>
      <%= form.submit "SEND", class: "form__submit" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>

    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <p>
            <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
            <%= comment.text %>
          </p>
        <% end %>
      <% end %>
    </div>
    
  </div>
</div>