<div class="contents row">
 
  <div class ="profile-box">

<div class="profile">
  <div class="icon">
    <img src="<%= @avatar %>" class="prf-img">
  </div>

  <div class="profile-contents">
    <div class="prf-name">
      <h3>NAME: 
        <% if user_signed_in? %>
        <%= @nickname %>
        <%end%>
      </h3>
    </div>

    <%# <div class = "relationship">
      <% if user_signed_in? %>
        <%# <div id="follow_form"> %>
        <%# <% if  current_user.following?(@user)%>
          <%# <%= button_to 'follow済み', method: :delete %> 
        <%# <% else %> 
          <%# <%=  render 'follow', {relationship: @relationship}%> 
        <%# <%end%> 
      <%# <%end%> 
      <%# </div> %>
    <%# </div>  %>

  </div>


<%# <%= render ‘relationships/follow_button’, user: @user %>


</div>

  </div>

  <div class="twt-content">
  <p><%= @nickname %>さんの投稿一覧</p>
    <% @tweets.each do |tweet| %>
    <%= render partial: "tweets/tweet", locals: { tweet: tweet } %>
    <% end %>
    <div class="scroll" onclick="scrollToTop()"></div>
    <%= paginate(@tweets) %>
  </div>

    <%# <%= render 'follow_form' %>
    <%# <%= render 'stats' %>

  
</div>
</div>